h1{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193);
}

body{
  background-color: rgb(135,135,135);
}

.fourteen{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(202, 100, 50)
}
.thirteen{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.twelve{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.eleven {
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.ten{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.nine{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.eight{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.seven{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.six{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.five{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.four{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.three{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.two{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
  }>
.one{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
.zero{
  width: 300px;
  padding: 25px 1000px 25px 20px;
  margin: 10px;
  background-color: rgb(193, 193, 193)
}
